@charset "UTF-8";

section#conteudo {
    width: 100%;
    margin: auto;
}

iframe#iframe-spec {
    width: 380px;
    height: 280px;
    border: none;
}

iframe#iframe-spec::-webkit-scrollbar {
    display: none;
}